@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #c7e7ff;
    --color-secondary: #d4f6ff;
    --color-accent: #FFDDAF;
    --color-text: #444444;
    --color-peach-soft: #FFDDAF;
    --color-blue-main: #C7E7FF;
    --color-blue-soft: #D4F6FF;
    --background-image-gradient-3: linear-gradient(to right, 
        var(--color-peach-soft) 0%, 
        var(--color-blue-soft) 51%, 
        var(--color-blue-main) 100%
    );

    --background-image-gradient-4: linear-gradient(to right, 
        var(--color-peach-soft) 0%, 
        var(--color-blue-main) 50%, 
        var(--color-blue-soft) 75%, 
        #FFFFFF 100%
    );
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --shadow-pop: 4px 2px 0px 1px #444444;
    --shadow-pop2: 6px 4px 0px 1px #444444;
}
